<todo-filter></todo-filter>

<form>
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input
            #input
            matInput
            name="value"
            placeholder="Placeholder"
            [(ngModel)]="value"
        >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="addTodo(input)"
    >Save</button>
</form>

<div
    sharedAutoScroll
    [limit]="state.limit"
    [offset]="state.offset"
    [total]="state.todoListTotal"
    (pageChange)="paginate($event)"
>
    <todo-detail
        *ngFor="let todo of state.todoList"
        [todo]="todo"
    ></todo-detail>
</div>

<div *ngIf="state.getTodoPending">Loading</div>

<div *ngIf="state.error">{{ state.error | json }}</div>