<form #todoFilter="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input
            matInput
            name="search"
            placeholder="Placeholder"
            [(ngModel)]="search"
        >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="filter(todoFilter)"
    >Search</button>
</form>

<form #todoForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input
            matInput
            name="value"
            placeholder="Placeholder"
            [(ngModel)]="value"
        >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="addTodo(todoForm)"
    >Save</button>
</form>

<div
    sharedAutoScroll
    [limit]="limit"
    [total]="todos.todoListTotal"
    [filter]="todos.filterTodoPending"
    (pageChange)="paginate($event)"
>
    <div *ngFor="let todo of todos.todoList">
        <form>
            <!-- TODO: -->
            <!-- <mat-checkbox [(ngModel)]=""></mat-checkbox> -->
            <mat-form-field [appearance]="todo.enabled ? 'fill' : ''">
                <input
                    matInput
                    name="value"
                    [ngModel]="todo.value"
                    (ngModelChange)="updateTodo(todo.id, { value: $event })"
                    (click)="!todo.enabled ? todo.enabled = true : null"
                    [readonly]="!todo.enabled"
                >
            </mat-form-field>
        </form>

        <button
            mat-mini-fab
            color="warn"
            (click)="deleteTodo(todo.id)"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="(todos.getTodoPending || todos.filterTodoPending)">Loading</div>

<div *ngIf="todos.error">{{ todos.error | json }}</div>