<form #todoFilter="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input
            matInput
            name="search"
            placeholder="Placeholder"
            [(ngModel)]="search"
        >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="filter(todoFilter)"
    >Search</button>
</form>

<form #todoForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input
            matInput
            name="value"
            placeholder="Placeholder"
            [(ngModel)]="value"
        >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        (click)="addTodo(todoForm)"
    >Save</button>
</form>

<div
    sharedAutoScroll
    [limit]="limit"
    [offset]="todos.offset"
    [total]="todos.todoListTotal"
    (pageChange)="paginate($event)"
>
    <todo-detail
        *ngFor="let todo of todos.todoList"
        [todo]="todo"
    ></todo-detail>
</div>

<div *ngIf="todos.getTodoPending">Loading</div>

<div *ngIf="todos.error">{{ todos.error | json }}</div>