.todolist ul li {
    /* background: maroon; */
}

.todolist ul li div {
    position: relative;
}

.todolist ul li div input {
    padding-right: 115px !important;
    box-sizing: border-box !important;
}

.todolist ul li div a.delete {
    position: absolute;
    right: 55px;
}

.todolist ul li div a.update {
    position: absolute;
    right: 0;
}

.todolist > div {
    position: relative;
}

.todolist > div .input-field {
    padding-left: 0;
    padding-right: 0;
}

.todolist > div .input-field.col label {
    left: 0;
}

.todolist > div .input-field input {
    width: 100%; 
    padding-right: 65px !important;
    box-sizing: border-box !important;
}

.todolist > div a.add {
    position: absolute;
    right: 0;
    bottom: 28px;
}
